/***************
-----HTML5------
394264 for home image
***************/
header, headermenu, primary, map, menu, 
example, footer, nav, {
display: block;
}

#lastSection {clear:both; }
#menu {clear:both; }
#slider {clear:both; }
#bottomBar {clear:both; }
               
/*******************
----GENERAL---------
*******************/
body { 
     background:white url(../imgs/bd.jpg);
     background-repeat:no-repeat;
     background-position:top;
     overflow:hidden;
     position:fixed off;
}

a {
  text-decoration: none;
  color:white;
}

p {
    color:white;
    font-size: 11px;
	line-height: 20px;
	font-size: Verdana, helvetica, arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: myriad-pro, helvetica, arial, sans-serif;
	font-weight: normal;
}

h2 {
	color: #394264;
	font-size: 38px;
	line-height: 24px;
	font-family: 'PT Sans';
}

ul {
	overflow: hidden;
}

li {
	margin-left: 0;
	list-style: none;
}

.rounded {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}


.container_24 {
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
    position:fixed off;
}

/*******************
----HEADER---------
*******************/

header { 
     background:white url(../images/header.jpg);
     background-repeat:no-repeat;
     background-position:center;
     background-position:top; 
     overflow:hidden;
}

    /*******************
    ----NAVIGATOR-------
    *******************/
	header nav {
        margin-left:244px;   
		overflow: hidden;
		height: 76px;
        margin-top:28px;
	}
    
    header nav li {
        float:left;
        font-size:15px;
        text-align:center;
    }
    
    header nav section li {
        float:left;
        font-size:15px;
        text-align:center;
        text-decoration:underline;
    }
    
    header nav section li p{
        font-size:15px;
        margin-left:5px;
        margin-right:5px;
        text-decoration:none    
    }
    
    header nav li .home { 
           margin-left:10px;
           position:relative;
    }
    
    header nav li .aboutUs { 
           margin-left:60px;
           position:relative;
    }
    
    header nav li .surfSpot { 
           margin-left:50px;
           position:relative;
    }
    
    header nav li .blog { 
           margin-left:50px;
           position:relative;       
    }
    
    header nav li .contactUs { 
           margin-left:50px;
           position:relative;
    }
    
    header nav li .login { 
           margin-left:50px;
           position:relative;       
    }
    
    header nav a:hover{
			background: #EFB04F;
			text-decoration: none;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;	
			border: 1px solid #FCCC85;
			margin-right: -2px;
			text-shadow: 0 1px 0 #281f1b;	
			-webkit-transition: background .5s;
			-moz-transition: background .5s;
			-o-transition: background .5s;
			transition: background .5s;
            	
	} 
    
/*******************
----Primary---------
*******************/
        /*******************
        ----Slider---------
        *******************/
        
        #slider {   
		overflow: hidden;
		margin-top:200px; 
        height: 204px;
        text-align:center;
        }
        
        #slider h2{
        margin-top:5px;
        }
        
        #slider p {
        font-size:18px;
        font-family: 'PT Sans'; 
        color: #394264;
        }
        
        #slider button{
        background:#EFB04F;
        text-align:center;
        color:white;
        padding:15px;
        font-size:18px;
        font-weight: bold;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
        border: 1px solid #EFB04F;
        cursor: pointer;
        border:none;
        }
        
        #slider button:hover{
         -webkit-box-shadow: 0 0 2px #e1a30c;
         -moz-box-shadow: 0 0 5px #e1a30c;
         box-shadow: 0 0 2px #e1a30c;
         background: #e1a30c;
         }
                     
        /*******************
        ----Map---------
        *******************/
        
        #map {   
		overflow: hidden;
		margin-top:200px;
        height: 380px;
        margin-bottom:30px;
        text-align:center;
        color:white;
        }
        
        #map h2 {
        color:white;
        font-size:30px;
        font-family: 'Open Sans';
        margin-top:5px; 
        }
        
        #map p {
        color:white;
        font-size:13px;
        font-family: 'Open Sans';    
        }
        
        #map button{
        background:#1abc9c;
        text-align:center;
        color:white;
        padding:10px;
        font-size:15px;
        font-weight: bold;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
        border: 1px solid #1abc9c;
        cursor: pointer;
        border:none;
        }
        
        #map button:hover{
         -webkit-box-shadow: 0 0 2px #1aaf96;
         -moz-box-shadow: 0 0 5px #1aaf96;
         box-shadow: 0 0 2px #1aaf96;
         background: #1aaf96;
         }
         
        /*******************
        -------Menu---------
        *******************/
        #menu{
        height: 246px;
        }
       
        #menu img{
        margin-left:80px;
        }
        
        #menu h4{
        color:white;
        font-size:23px;
        margin-top:27px;
        }
        
        #menu p{
        font-size:10px;
        }
        
        #profile h4{
        margin-top:30px;
        }
        
        #cloud h4{
        margin-top:33px;
        }
        
        /*******************
        -------Example------
        *******************/
        .arrowCom, .arrowForecast, .arrowSpot{
        margin-left:200px;        
        position:relative;
        }

        #example{
        margin-top:35px;
        }
        
        #example .profile:hover{
        -webkit-box-shadow: 10px 10px 10px #373737;
        -moz-box-shadow: 10px 10px 10px #373737;
        box-shadow: 10px 10px 10px #373737;
        
        }
        
        #example .comImg:hover{
        -webkit-box-shadow: 10px 10px 10px #373737;
        -moz-box-shadow: 10px 10px 10px #373737;
        box-shadow: 10px 10px 10px #373737;
        
        }
        
        #example .spot:hover{
        -webkit-box-shadow: 10px 10px 10px #373737;
        -moz-box-shadow: 10px 10px 10px #373737;
        box-shadow: 10px 10px 10px #373737;
        
        }
        
        #example .forecast:hover{
        -webkit-box-shadow: 10px 10px 10px #373737;
        -moz-box-shadow: 10px 10px 10px #373737;
        box-shadow: 10px 10px 10px #373737;
        
        }
/*******************
----Footers---------
*******************/
#footer{
margin-top:40px;
}
        
        #footer h2{
        color:white;
        font-size:33px;
        font-family:'Myriad Pro';
        margin-bottom:0px;
        margin-top:35px;
        }
        
        #footer h3{
        color:white;
        font-size:12px;
        font-family:'Open Sans';
        font-style:italic;
        }
        
        #footer p{
        color:white;
        font-size:12px;
        font-family:'Open Sans';
        }
        
        #facebook{
        color:white;
        margin-top:5px;
        font-size:12px;
        font-family:'Open Sans';
        }
        
        #facebook li{
        font-size:10px;
        font-family:'Open Sans';
        }
/*******************
----Bottom Bar------
*******************/
#bottomBar{
margin-top:25px;
height:40px;
width:1590px;
background:#004bff;
background-position:center;
}
         
         #bottomBar li{
         margin-top:10px;
         font-size:12px;
         font-family:'Open Sans';
         }
         
         #bottomNav{
         margin-top:10px;
         font-size:12px;
         font-family:'Open Sans';
         }
         
         #bottomNav a{
         margin-left:12px;
         }
         
         #bottomNav a:hover{
            background: #EFB04F;
			text-decoration: none;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;	
			border: 1px solid #FCCC85;
			margin-right: -2px;
			text-shadow: 0 1px 0 #281f1b;	
			-webkit-transition: background .5s;
			-moz-transition: background .5s;
			-o-transition: background .5s;
			transition: background .5s;
          }             