<% @form = Forms::UserForm.new(user: User.last, surfer: Surfer.last) %>

<h1>User details editing</h1>
    <% if @form.errors.any? %>
        <%= render 'formwitherror' %>
    <% else %>
        <%= render 'form' %>
    <% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
