<%= form_for(@wetsuite) do |f| %>
  <% if @wetsuite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wetsuite.errors.count, "error") %> prohibited this wetsuite from being saved:</h2>

      <ul>
      <% @wetsuite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
