<h1>Listing wetsuites</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wetsuites.each do |wetsuite| %>
      <tr>
        <td><%= link_to 'Show', wetsuite %></td>
        <td><%= link_to 'Edit', edit_wetsuite_path(wetsuite) %></td>
        <td><%= link_to 'Destroy', wetsuite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wetsuite', new_wetsuite_path %>
