<h1>Listing surfers</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @surfers.each do |surfer| %>
      <tr>
        <td><%= link_to 'Show', surfer %></td>
        <td><%= link_to 'Edit', edit_surfer_path(surfer) %></td>
        <td><%= link_to 'Destroy', surfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Surfer', new_surfer_path %>
