/*******************
----Bottom Bar------
*******************/
#bottomBar{
height:40px;
background:#004bff;
background-position:centre;
overflow:hidden;
}
         
         #bottomBar p{
         alignment-adjust:centre;
         margin-left:70px;
         float:left;
         margin-top:10px;
         font-size:12px;
         font-family:'Open Sans';
         }
         
         #bottomNav{
         margin-left:100px;
         float:left;
         margin-top:10px;
         font-size:12px;
         font-family:'Open Sans';
         }
         
         #bottomNav a{
         margin-left:12px;
         }
         
         #bottomNav a:hover{
            background: #EFB04F;
			text-decoration: none;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;	
			border: 1px solid #FCCC85;
			margin-right: -2px;
			text-shadow: 0 1px 0 #281f1b;	
			-webkit-transition: background .5s;
			-moz-transition: background .5s;
			-o-transition: background .5s;
			transition: background .5s;
          }             