#shadowing
{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #CCA;
	z-index:10;
	opacity:0.5;
	filter: alpha(opacity=50);
}


#box
{
	display: none;
	position: fixed;
	top: 13%;
	left: 60%;
	width: 280px;
	height: 200px;
	margin:0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	border: 4px black;
	background-color: #2b2937;
	z-index:101;
}

#boxtitle
{
    display:none;
    position:absolute;
	float:center;
	top:0;
	left:0;
	width:0px;
	height:0px;
	padding:0px;
	padding-top:4px;
	left-padding:8px;
	margin:0;
	border-bottom:4px solid #3CF;
	background-color: #09c;
	color:white;
	text-align:center;
}

#close{
    float:right;
    margin-right:5px;
    margin-top:10px;
    font-size:20px;
    font-family:'Open Sans';
}

#email{
    margin-left:20px;
    float:left;        
}

#password{
    float:none;
    margin-left:0px;

}

input[type=text], input[type=password]{
    margin-top:10px;
    color:white;
    text-align:center;                     
    width:240px;
    height:40px;
    background: #394264;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	border: 5px black;
}

#email input{   
    background: #394264, url(..images/icons/email.png) 98% 48% no-repeat;
}

#password input{
    background: #394264, url(..images/icons/password.png) 98% 48% no-repeat;
}


input[type=checkbox] {
    width:12px;
    height:12px;
}

#remember{
    color:white;      
    position:relative;
    margin-left:30px;
    font-size:12px;
    font-family:'Open-Sans';
}

#forgot{
    position:relative;   
    background:red;
    font-size:12px;
    font-family:'Open-Sans';   
    float:none;
    text-decoration:underline;
    margin-top:10px;
}

#confirm li{
    float:left;
}

input[type=submit]{
    margin-left:10px;               
    background:#EFB04F;
    text-align:center;
    color:white;
    padding:10px;
    font-size:18px;
    font-weight: bold;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
    border: 1px solid #EFB04F;
    cursor: pointer;
    border:none;
}

#or{
    margin-top:10px;
}

#facebook{
    float:left;
    margin-left:15px;
}

#twitter{
    margin-top:5px;
    margin-left:2px;
    float:left;
}

#close a:hover{
    cursor: pointer;
    background:none;
    border:none;
}

input[type=submit]:hover{
    -webkit-box-shadow: 0 0 2px #e1a30c;
    -moz-box-shadow: 0 0 5px #e1a30c;
    box-shadow: 0 0 2px #e1a30c;
    background: #e1a30c;
}