/*******************
----Primary---------
*******************/
body { 
     background-image: url('../images/bd.jpg');
     background-repeat:no-repeat;
     background-position:top;
     overflow:scroll;
}
     
        /*******************
        ----Slider---------
        *******************/
        
        #slider {   
		overflow: hidden;
		margin-top:200px; 
        height: 204px;
        text-align:center;
        }
        
        #slider h2{
        margin-top:5px;
        font-size:45px;
        }
        
        #slider p {
        font-size:18px;
        font-family: 'PT Sans'; 
        color: #394264;
        }
        
        #slider button{
        background:#EFB04F;
        text-align:center;
        color:white;
        padding:15px;
        font-size:18px;
        font-weight: bold;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
        border: 1px solid #EFB04F;
        cursor: pointer;
        border:none;
        }
        
        #slider button:hover{
         -webkit-box-shadow: 0 0 2px #e1a30c;
         -moz-box-shadow: 0 0 5px #e1a30c;
         box-shadow: 0 0 2px #e1a30c;
         background: #e1a30c;
         }
                     
        /*******************
        --------Map---------
        *******************/
        
        #map {   
		overflow: hidden;
		margin-top:200px;
        height: 380px;
        margin-bottom:30px;
        text-align:center;
        color:white;
        }
        
        #map h2 {
        color:white;
        font-size:30px;
        font-family: 'Open Sans';
        margin-top:5px; 
        }
        
        #map p {
        color:white;
        font-size:13px;
        font-family: 'Open Sans';    
        }
        
        #map button{
        background:#1abc9c;
        text-align:center;
        color:white;
        padding:10px;
        font-size:15px;
        font-weight: bold;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
        border: 1px solid #1abc9c;
        cursor: pointer;
        border:none;
        }
        
        #map button:hover{
         -webkit-box-shadow: 0 0 2px #1aaf96;
         -moz-box-shadow: 0 0 5px #1aaf96;
         box-shadow: 0 0 2px #1aaf96;
         background: #1aaf96;
         }
         
        /*******************
        -------Menu---------
        *******************/
        #menu{
        height: 246px;
        }
       
        #menu img{
        margin-left:80px;
        }
        
        #menu h4{
        color:white;
        font-size:23px;
        margin-top:27px;
        }
        
        #menu p{
        font-size:10px;
        }
        
        #profile h4{
        margin-top:30px;
        }
        
        #cloud h4{
        margin-top:33px;
        }
        
        /*******************
        -------Example------
        *******************/
        .arrowCom, .arrowForecast, .arrowSpot{
        margin-left:200px;        
        position:relative;
        }

        #example{
        margin-top:35px;
        }
        
        #example .profile:hover{
        -webkit-box-shadow: 10px 10px 10px #373737;
        -moz-box-shadow: 10px 10px 10px #373737;
        box-shadow: 10px 10px 10px #373737;
        
        }
        
        #example .comImg:hover{
        -webkit-box-shadow: 10px 10px 10px #373737;
        -moz-box-shadow: 10px 10px 10px #373737;
        box-shadow: 10px 10px 10px #373737;
        
        }
        
        #example .spot:hover{
        -webkit-box-shadow: 10px 10px 10px #373737;
        -moz-box-shadow: 10px 10px 10px #373737;
        box-shadow: 10px 10px 10px #373737;
        
        }
        
        #example .forecast:hover{
        -webkit-box-shadow: 10px 10px 10px #373737;
        -moz-box-shadow: 10px 10px 10px #373737;
        box-shadow: 10px 10px 10px #373737;
        
        }
/*******************
----Footers---------
*******************/
#footer{
margin-top:40px;
height:360px;
width:1460px;
background:#373737;
overflow:hidden;
}
        
        
        #footer h2{
        color:white;
        font-size:33px;
        font-family:'Myriad Pro';
        margin-bottom:0px;
        margin-top:35px;
        }
        
        #footer h3{
        color:white;
        font-size:12px;
        font-family:'Open Sans';
        font-style:italic;
        }
        
        #footer p{
        color:white;
        font-size:12px;
        font-family:'Open Sans';
        }
        
        #facebook{
        color:white;
        margin-top:5px;
        font-size:12px;
        font-family:'Open Sans';
        }
        
        #facebook li{
        font-size:10px;
        font-family:'Open Sans';
        }