<!DOCTYPE html>
<html lang="en">
	<head>		
		<%= render :partial => 'layouts/head' %>
	</head>
	
	<body>
		<header>
			  <%= render :partial => 'layouts/header' %>
	  	</header>	
		
		<div>
			 <%= yield %>
		</div>
		<div>
			  <%= render :partial => 'layouts/footer' %>
		</div>	
	</body>
</html>
